@mixin bg--gradient {
  background-image: linear-gradient(
    $color-rosesecondaire,
    $color-violetprimaire
  );
}

@mixin btn {
  @include bg--gradient;
  border-radius: 32px;
  padding: 18px 32px;
  color: white;
  font-size: 18px;
  border: none;
  box-shadow: 4px 6px 8px rgb(158, 155, 155);
  filter: contrast(110%);
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
    filter: contrast(150%);
    box-shadow: 4px 6px 8px gray;
  }
  //   a {
  //   text-decoration: none;
  // }
}

@mixin boxShadowA {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

@mixin Shrikhand {
  font-family: "Shrikhand", cursive;
}

@mixin heart {
  .fa-regular {
    position: relative;
    right: 10%;
    cursor: pointer;
  }
  .fa-regular:hover {
    background: -webkit-linear-gradient(
      $color-rosesecondaire,
      $color-violetprimaire
    );
    display: block;
    font-weight: bold;
    /* TODO reglee la compatibiliter de clip */
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
