@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
$color-violetprimaire: #9356dc;
$color-rosesecondaire: #ff79da;
$color-verttertiaire: #99e2d0;
$color-grisbackground: #d3d3d3;
$color-grisclairebackground: #f3f3f3;
@import "../sass/abstracts/mixins.scss";
@import "../sass/components/animation.scss";
@import "../sass/layout/header.scss";
@import "../sass/layout/localisation.scss";
@import "../sass/layout/reservation.scss";
@import "../sass/layout/functioning.scss";
@import "../sass/layout/restaurantmainpage.scss";
@import "../sass/layout/whatdouwanttoeat.scss";
@import "../sass/layout/footer.scss";

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

/*
 TODO:  *media queries a finir pour le choix des restos
        *une fois fini les mettre dans le bon dossier
*/
@media (min-width: 768px) {
  #titleofFonctionSection {
    text-align: center;
  }

  #step {
    display: flex;
    padding-left: 8px;
    align-items: center;
    justify-content: center;
    .step {
      flex: 1;
      gap: 10px;
      padding: 10px;
    }
  }
  #Restaurant {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-left: 16px;
    #titleofrestaurantsection {
      text-align: center;
    }
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    #titleOf-Footer {
      font-size: 18px;
    }

    #propose {
      margin-bottom: 0;
    }

    #partnership {
      margin-bottom: 0;
    }

    #legal {
      margin-bottom: 0;
      margin-top: 0;
    }

    #contactFooter {
      margin-bottom: 0;
    }
  }
}
@media (min-width: 1024px) {
  #step {
    display: flex;
    align-items: center;
    justify-content: center;
    .step {
      flex: 1;
      padding: 24px;
    }
  }
}
