.fonctionnement {
  #titleofFonctionSection {
    padding-left: 16px;
    padding-top: 16px;
  }
  .step {
    border: 1px solid $color-grisclairebackground;
    background-color: whitesmoke;
    margin: 0 16px 16px 16px;
    display: flex;
    gap: 32px;
    padding: 24px;
    border-radius: 24px;
    text-align: center;
    @include boxShadowA;
    i {
      color: $color-grisbackground;
    }
    &:hover {
      background-color: rgba(146, 86, 220, 0.336);
      border: 1px solid transparent;
      i {
        color: $color-violetprimaire;
      }
    }
  }
  .purpule-circle {
    border: 1px solid $color-violetprimaire;
    border-radius: 100%;
    width: 19px;
    height: 19px;
    background-color: $color-violetprimaire;
    margin-left: -32px;
  }

  .stepNumber {
    position: relative;
    color: white;
    text-align: center;
  }
}
