header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  padding: 16px;
  @include boxShadowA;
  h1 {
    flex: 2;
    font-family: Shrikhand, "cursive";
    margin: 0;
    text-align: center;
    font-size: 32px;
  }
  .spanh1 {
    flex: 2;
    font-family: Shrikhand, "cursive";
    margin: 0;
    text-align: center;
    font-size: 32px;
  }
  .fa-arrow-left {
    flex: 1;
    color: black;
    font-weight: 900;
    font-size: 24px;
  }
}
/* CE JOINS AU HEADER DANS WDUWTE RESTAURANT*/
.hero {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
