#localisation {
  height: 50px;
  @include Shrikhand;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  background-color: $color-grisbackground;
  // position: relative;
  align-items: center;
  gap: 16px;
  padding-left: 32px;
  &i {
    font-weight: 900;
  }
  #inputForm-localisation {
    border: none;
    background-color: $color-grisbackground;
    &::placeholder {
      font-weight: bolder;
      font-size: 16px;
      color: black;
      opacity: 1;
    }
  }
}
