@media (min-width: 1024px) {
  #reserved-menu-tittle {
    font-size: 44px;
  }
  #reserved-menu-subTitle {
    font-size: 32px;
    br {
      display: none;
    }
  }

  #step {
    .step {
      padding: 24px;
    }
  }
  .restaurant-cards {
    flex: 1;
  }
}
