@media (min-width: 768px) {
  #reserved-menu-tittle {
    font-size: 40px;
  }
  #reserved-menu-subTitle {
    font-size: 24px;
  }

  #step {
    display: flex;
    padding-left: 8px;
    align-items: center;
    justify-content: center;
    .step {
      flex: 1;
      gap: 10px;
      padding: 10px;
    }
  }

  /* RESTAURANT*/
  #Restaurant {
    display: flex;
    flex-wrap: wrap;

    #titleofrestaurantsection {
      width: 100%;
    }
    .restaurant-cards {
      width: 45%;
      justify-content: space-between;

      .infoCards {
        padding-left: 1%;
      }
      .infoCards-WithoutHeart {
        h3 {
          font-size: 16px;
        }
      }
      .fa-regular {
        right: 3%;
      }
    }
  }

  /*-----------------------*/

  #What-do-u-want-to-eat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: -32px;
    padding-bottom: 0;

    #title-of-Resto {
      width: 100%;
      padding: 16px;
      margin-top: 8px;
      font-size: 32px;
    }
    .menu {
      display: flex;
      flex-wrap: wrap;
    }

    .Main-Course--spe {
      margin-top: 0;
    }
    .Dessert--spe {
      margin: 0;
    }
    .choice {
      width: 330px;
      &:hover {
        transform: scale(1);
      }
    }
    .degrade {
      width: 100%;
      border-radius: 0;
      left: 0;
      margin-bottom: 16px;
      margin-top: 0;
    }
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    #titleOf-Footer {
      font-size: 28px;
    }
    #propose {
      margin-bottom: 0;
    }
    #partnership {
      margin-bottom: 0;
    }
    #legal {
      margin-bottom: 0;
      margin-top: 0;
    }
    #contactFooter {
      margin-bottom: 0;
    }
  }
}
