/* GENERAL STYLE OF RESTAURANT SECTION*/
#What-do-u-want-to-eat {
  background-color: $color-grisclairebackground;
  position: relative;
  width: 100%;
  border-radius: 32px 32px 0 0;
  padding-bottom: 64px;
  #title-of-Resto {
    @include Shrikhand;
    font-size: 18px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    margin-bottom: 0;
    margin-top: -32px;
    @include heart;
  }
  .choice {
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include boxShadowA;
    margin: 10px;
    border-radius: 16px;
    cursor: pointer;
  }
  .title-Choice {
    font-size: 16px;
    font-weight: bolder;
  }
  .degrade {
    @include btn;
    padding: 8px 32px;
    position: relative;
    left: calc(100% / 4);
    margin-top: 32px;
  }
  // les plats on un comportement bizarre au chargement
  .green-Line-deco {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 8px;
    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
    }
    &::after {
      content: "";
      width: 50px;
      height: 8px;
      background-color: $color-verttertiaire;
      position: absolute;
      margin: 0;
    }
  }
}

.point-of-omission {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-wrap: break-Word;
  overflow: hidden;
  font-size: 14px;
}

/*  text-overflow: ellipsis;
display: inline-block;
white-space: nowrap;
overflow: hidden;*/
