@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  padding: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}
header h1 {
  flex: 2;
  font-family: Shrikhand, "cursive";
  margin: 0;
  text-align: center;
}
header .fa-arrow-left {
  flex: 1;
  color: black;
  font-weight: 900;
  font-size: 24px;
}

#localisation {
  display: flex;
  justify-content: center;
  background-color: #d3d3d3;
  position: relative;
  align-items: center;
  gap: 16px;
  font-family: "Shrikhand", cursive;
}
#localisationi {
  font-weight: 900;
}

.reserved-menu {
  text-align: center;
  background-color: #f3f3f3;
  padding: 16px;
}
.reserved-menu .degrade {
  background-image: linear-gradient(#ff79da, rgb(147, 86, 220));
  border-radius: 32px;
  padding: 18px 32px;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.reserved-menu .degrade:hover {
  transform: scale(1.02);
}

.fonctionnement #titleofFonctionSection {
  padding-left: 16px;
  padding-top: 16px;
}
.fonctionnement .step {
  border: 1px solid #f3f3f3;
  background-color: whitesmoke;
  margin-bottom: 16px;
  margin-right: 16px;
  margin-left: 16px;
  display: flex;
  gap: 32px;
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}
.fonctionnement .step:hover {
  background-color: rgba(146, 86, 220, 0.336);
  color: rgb(147, 86, 220);
}
.fonctionnement .purpule-circle {
  border: 1px solid rgb(147, 86, 220);
  border-radius: 100%;
  width: 19px;
  height: 19px;
  background-color: rgb(147, 86, 220);
  margin-left: -32px;
}
.fonctionnement .stepNumber {
  position: relative;
  top: -16px;
  left: 5px;
  color: white;
}

/* RESTAURANT*/
#Restaurant {
  background-color: #f3f3f3;
  padding-bottom: 32px;
}
#Restaurant #titleofrestaurantsection {
  padding-left: 16px;
  padding-top: 16px;
  margin-bottom: 0;
}
#Restaurant .link-restaurants {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}
#Restaurant .restaurant-cards {
  background-color: white;
  display: block;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
  border-radius: 16px;
  height: 100%;
  margin: 16px;
}
#Restaurant .restaurant-cards .imgRestaurants {
  width: 100%;
  height: 192px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
  object-position: center;
}
#Restaurant .restaurant-cards .infoCards {
  display: flex;
  flex: 3;
  align-items: center;
  padding-left: 16px;
}
#Restaurant .restaurant-cards .infoCards-WithoutHeart {
  flex: 2;
  line-height: 0;
}
#Restaurant .restaurant-cards .fa-regular {
  position: absolute;
  right: 10%;
  color: black;
  transition: 1s ease-out;
}
#Restaurant .restaurant-cards .fa-regular:hover {
  color: #ff79da;
  font-weight: bold;
  cursor: pointer;
}
#Restaurant .status {
  position: absolute;
  text-align: center;
  color: #53b99f;
  background-color: #99e2d0;
  margin-left: 66%;
  margin-right: auto;
  padding-top: 1.7%;
  padding-bottom: 1.7%;
  padding-left: 2.2%;
  padding-right: 2.2%;
  border-radius: 6px;
}
#Restaurant .status::before {
  content: "Nouveau";
}
#Restaurant .statusOff {
  display: none;
}
#Restaurant .titleof-infoCards1::after {
  content: "La palette du goût";
  font-weight: bold;
}
#Restaurant .cityof-infocards1::after {
  content: "Ménilmontant";
}
#Restaurant .titleof-infoCards2::after {
  content: "La note enchantée";
  font-weight: bold;
}
#Restaurant .cityof-infocards2::after {
  content: "Charonne";
}
#Restaurant .titleof-infoCards3::after {
  content: "À la française";
  font-weight: bold;
}
#Restaurant .cityof-infocards3::after {
  content: "Cité Rouge";
}
#Restaurant .titleof-infoCards4::after {
  content: "Le délice des sens";
  font-weight: bold;
}
#Restaurant .cityof-infocards4::after {
  content: "Folie-Méricourt";
}

/*RESTAURANT 1 LA PALETTE DU GOÛT */
#enTeteresto1 {
  background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#What-do-u-want-to-eat {
  background-color: #d3d3d3;
  position: relative;
  width: 100%;
  border-radius: 32px 32px 0 0;
}
#What-do-u-want-to-eat #title-of-Resto1 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  margin-bottom: 0;
  margin-top: -32px;
}
#What-do-u-want-to-eat #title-of-Resto1 .fa-regular {
  position: absolute;
  right: 10%;
  color: black;
  transition: 1s ease-out;
}
#What-do-u-want-to-eat #title-of-Resto1 .fa-regular:hover {
  color: #ff79da;
  font-weight: bold;
  cursor: pointer;
}
#What-do-u-want-to-eat .choice {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  margin: 8px;
  padding-left: 8px;
  border-radius: 16px;
}
#What-do-u-want-to-eat .choice:hover {
  background-color: #99e2d0;
  cursor: pointer;
}
#What-do-u-want-to-eat .title-Choice {
  font-size: 16px;
  font-weight: bolder;
}
#What-do-u-want-to-eat .degrade {
  background-image: linear-gradient(#ff79da, rgb(147, 86, 220));
  border-radius: 32px;
  color: white;
  font-size: 16px;
  border: none;
  padding: 8px 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;
  left: 30%;
  cursor: pointer;
}
#What-do-u-want-to-eat .degrade:hover {
  transform: scale(1.02);
}
#What-do-u-want-to-eat .testH4 {
  padding-bottom: 8px;
  padding-left: 8px;
}
#What-do-u-want-to-eat .testH4 h4 {
  margin: 0;
}
#What-do-u-want-to-eat .testH4::after {
  content: "";
  width: 50px;
  height: 8px;
  background-color: #99e2d0;
  position: absolute;
  margin: 0;
}

/*FIN RESTAURANT 1 LA PALETTE DU GOÛT */
footer {
  background-color: rgb(94, 93, 93);
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  font-size: 12px;
  position: relative;
  bottom: 0;
}
footer #titleOf-Footer {
  font-family: Shrikhand, "cursive";
  font-size: 16px;
}
footer #propose {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: -16px;
}
footer #propose:hover {
  color: #ff79da;
}
footer #partnership {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: -16px;
}
footer #partnership:hover {
  color: #ff79da;
}
footer #legal {
  margin-bottom: 4px;
}
footer #legal:hover {
  color: #ff79da;
}
footer #contactFooter {
  margin-bottom: 32px;
  text-decoration: none;
  color: white;
}
footer #contactFooter:hover {
  color: #ff79da;
}

/*# sourceMappingURL=style.css.map */
