/* ANIMATION LOADING */
.loader {
  background-color: white;
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  transform-origin: top;
  animation: magic-disappearance 0.9ms 3s forwards;
  .Loader-bounce-jp {
    width: 200px;
    height: 100px;
    position: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: $color-violetprimaire;
    left: 15%;
    transform-origin: 50%;
    animation: circle 0.5s alternate 6 ease-in-out;
  }
}
@keyframes magic-disappearance {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scale(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scale(1);
  }

  100% {
    top: 0%;
  }
}
.circle:nth-child(1) {
  left: 45%;
  animation-delay: 0.2s;
  background-color: $color-rosesecondaire;
}

.circle:nth-child(2) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
  background-color: $color-verttertiaire;
}
/*FIN ANIMATION LOADING*/

/*ANIMATION CHARGEMENT MENU*/

.choice {
  animation: here-is-the-menu 2s;
  &.delayChoiceB {
    animation-delay: 0.3s;
  }
  &.delayChoiceC {
    animation-delay: 0.6s;
  }
  &.delayChoiceD {
    animation-delay: 0.9s;
  }
}
@keyframes here-is-the-menu {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }
}
/*
/*FIN ANIMATION CHARGEMENT MENU*/

/*ANIMATION CHECK MENU*/

.choice-check {
  background-color: $color-verttertiaire;
  display: flex;
  width: 0;
  height: 90px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0 16px 16px 0;
  overflow: hidden;
  transition-duration: 0.5s;
  margin-right: 0px;
}
.choice:hover .choice-check {
  width: 60px;
}
.choice:hover .fa-circle-check {
  transform: rotate(-360deg);
  transition-duration: 0.4s;
  animation-delay: 1s;
}
.choice-check::after.price {
  position: absolute;
  right: 100px;
}
.first-Choice {
  flex: 1;
  padding-left: 10px;
}
.second-Choice {
  flex: 1;
  padding-left: 10px;
}
.third-Choice {
  flex: 1;
  padding-left: 10px;
}
.fourth-Choice {
  flex: 1;
  padding-left: 10px;
}
.price {
  padding-right: 10px;
}
.fa-circle-check {
  background-color: whitesmoke;
  color: $color-verttertiaire;
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: rotate(1turn);
}

/*FIN ANIMATION CHECK MENU*/

/* ANIMATION HEART APPAERANCE*/
@keyframes heart-appearence {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1.4);
    opacity: 1;
  }
}
/*FIN ANIMATION HEART APPAERANCE*/

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}
